---
import AuthorCard from '@/components/AuthorCard.astro'
import ArticleCard from '@/components/ArticleCard.astro'
import Layout from '@/layouts/Layout.astro'
import CategoryTagCard from '@/components/CategoryTagCard.astro'

// 获取所有的博客文章
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }))

// 获取所有标签（不重复）
const allTags = allPosts.map((post: any) => post.frontmatter.tags)
const flatTags = allTags.flat()
// 去重
const uniqueTags = [...new Set(flatTags)]

// 获取所有分类，不重复
const allCategories = allPosts.map((post: any) => post.frontmatter.category)
const uniqueCategories = [...new Set(allCategories)]
---

<Layout>
  <div class="grid grid-cols-1 md:grid-cols-4 gap-4 m-4">
    <div class="flex flex-col gap-4">
      <AuthorCard />
      <CategoryTagCard type="tag" items={uniqueTags} />
      <CategoryTagCard type="category" items={uniqueCategories} />
    </div>

    <div class="md:col-span-3">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
          allPosts.map((post: any) => (
            <ArticleCard
              title={post.frontmatter.title}
              url={post.url as string}
              category={post.frontmatter.category}
              tags={post.frontmatter.tags}
              description={post.frontmatter.description}
              date={post.frontmatter.date}
            />
          ))
        }
      </div>
    </div>
  </div>
</Layout>
