---
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'

interface Props {
  type: 'category' | 'tag'
  name: string
  posts: any[]
}
const { type, name, posts }: Props = Astro.props as Props

const config = {
  category: {
    icon: 'mdi:folder-multiple',
    titlePrefix: '分类：',
    frontmatterField: 'category',
  },
  tag: {
    icon: 'mdi:tag-multiple',
    titlePrefix: '标签：',
    frontmatterField: 'tags',
  },
}

const currentConfig = config[type]
---

<Layout title={`${currentConfig.titlePrefix}${name}`}>
  <div class="flex flex-col gap-3 p-4">
    <h3 class="flex items-center gap-1 text-lg md:text-xl font-semibold text-primary">
      <Icon name={currentConfig.icon} />
      <span>{name}</span>
    </h3>

    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        posts.map((post: any) => (
          <li class="flex items-center justify-between gap-2 p-4 bg-back border border-br rounded-md shadow-sm">
            <a href={`${post.url}`} class="text-primary font-semibold line-clamp-2">
              {post.frontmatter.title}
            </a>
            <div class="flex items-center text-xs text-content-secondary">
              <Icon name="mdi:calendar-range-outline" class="text-sm" />
              <span>{post.frontmatter.date}</span>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
